[submodule "extensions/react"]
	path = extensions/react
	url = https://github.com/puleeno-cms/react-extension.git
[submodule "extensions/layout"]
	path = extensions/layout
	url = https://github.com/puleeno-cms/layout-extension.git
[submodule "extensions/dashboard"]
	path = extensions/dashboard
	url = https://github.com/puleeno-cms/dashboard-extension.git
[submodule "extensions/text-editor"]
	path = extensions/text-editor
	url = https://github.com/puleeno-cms/editor-extension.git
[submodule "extensions/file-manager"]
	path = extensions/file-manager
	url = https://github.com/puleeno-cms/file-manager-extension.git
[submodule "extensions/seo"]
	path = extensions/seo
	url = https://github.com/puleeno-cms/seo-extension.git
[submodule "extensions/layout-uikit"]
	path = extensions/layout-uikit
	url = https://github.com/puleeno-cms/layout-uikit-extension.git
